

.modalBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.599); /* The color from the static style */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modalBackground .modal {
    position: relative;
    width: 1000px;
    height: 580px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 300;
 /* Overwritten by animation background */

    opacity: 0;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.error-span {
    width: 100%;
    display: flex;
    justify-content: end;
}

.fit-cont {
    min-height: fit-content;
}

.increase-modal {
    height: 600px !important;
}

.images-container {
    /* border:1px solid red; */
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    gap:10px;
}

.images-container .preview-container {
    height: 100px;
    width: 100px;
}

.preview-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.content {
    animation: scaleBack 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
}

.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.out .modal {
    animation: scaleDown 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.out + .content {
    animation: scaleForward 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}

.modal * {
    z-index: 201;
}

.modal {
    background: white;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
}

.modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}

.modal p {
    font-size: 18px;
    line-height: 22px;
}

.modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
}

.content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;
}

.content h1 {
    padding: 75px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

.content .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.content .buttons .button {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    background: red; /* Note: This line is overridden by the next line */
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.content .buttons .button:hover {
    color: white;
    background: #009bd5;
}

.input-group, .input-group-col .col {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.input-group label, .input-group-col .col label {
    margin-right: 10px;
}

.maxed-container {
    max-height: 350px;
    overflow-y: scroll;
    /* border:1px solid red; */
}

.input-group input, .input-group-col .col input, .input-group select  {
    border: 1px solid var(--pale-color);
    border-radius: 10px;
    height: 30px;
    width: 80%;
    padding: 3px 10px;
}

.input-group-col {
    display: flex;
    width: 100%;
    gap:10px;
}

.input-group-col .col{
    flex-grow: 1;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: end;
    /* border:1px solid red; */
    position: absolute;
    gap:10px;
    left:0;
    bottom:0;
    width: 100%;
    height: 90px;
    padding-right: 20px;
    margin-top: 10px !important;
}

.Mui-active circle, .Mui-completed path {
    color: var(--primary-color) !important;
}

form.crud-form {
    position: relative;
    padding:20px;
    border: 1px solid gray;
    margin-top: 20px;

    border-radius: 10px;
    height: 100%;
}

.modal-exit {
    opacity: 1;
    transform: translateY(0);
}

.modal-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
}