* {
    font-family: "Kanit", sans-serif;
}

h3 {
    font-size: 42px;
    font-weight: 500;
}

body {
    overflow-x: hidden;
    /* background-color: rgb(240, 240, 240); */
}

.nav-main, .nav-main a {
    background-color: white;
    color: black;
}

section {
    height: fit-content;
    width: 100%;
    /* border:1px solid red; */

    margin-top: 65px;
    display: flex;
    justify-content: center;
}

.main-container {
    /* border:1px solid red; */
    height: 2000px;
    padding:10px;
    display: flex;
    flex-direction: row;
    gap:30px;
    padding:0px 100px;
}

.controls {
    /* border:1px solid red; */
    width: 420px;
    height: 600px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:20px;
}

.controls .course-controls {
    margin-top: 10px;
    /* border:1px solid red; */
    height: 100%;
}

.course-controls .big-with__small {
    display: flex;
    gap:10px;
}

.flex-grow {
    flex-grow: 1;
}

.mui-button__icon { 
    font-size: 25px !important;
    font-weight: 800 !important;
}

.small-margin-y {
    margin: 10px 0px !important;
}
.medium-margin-y {
    margin: 30px 0px !important;
}

.sub-promo .promo-font {
    font-size: 18px;
}

.sub-promo .promo-info {
    color:gray;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.sm-spacer {
    margin: 10px 10px !important;
}

.w-100.MuiButton-contained.MuiButton-containedPrimary {
    margin-top: 10px !important;
    width: 100%;
    height: 50px;
    background-color: black !important;
}

.course-controls .MuiButton-contained {
    background-color: var(--primary-color) !important;
    font-size: 10px;
}
.course-controls .MuiButton-outlined {
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color);
}


.details {
    /* border:1px solid red; */
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: start;
    gap:5px;
    flex-direction: column;
}

.sm-container {
    min-height:20px;
    width: 100%;
    display: flex;
    /* border:1px solid red; */
}

.align-center {
    align-items: center;
}

.reg-container {
    /* border:1px solid blue; */
    min-height:65px;
    width: 100%;
    display: flex;
    align-items: center;
}

.flexed {
    height: fit-content;
}

.md-container {
    /* border:1px solid blue; */
    min-height:fit-content;
    width: 100%;
}

.lg-container {
    /* border:1px solid blue; */
    min-height:120px;
    width: 100%;
}

.boxed-container {
    margin-top: 10px;
    border:1px solid gray;
    min-height:fit-content;
    width: 100%;
    height: 2000px;
}


.breadcrumb {
    list-style-type: none;	
    padding:0;
}

.v1 .breadcrumb-level {
    &::before,
    &::after{
        content: '';
        position: absolute;
        left: 0;
        height: 50%;
        width: 100%;
        background: #ff495b;
        z-index: -1;
    }
    
    &::before {
        top: 0;
        transform: skew(20deg);
    }
    
    &::after {
        bottom: 0;
        transform: skew(-20deg);
    }
}

.breadcrumb-level {
    display: inline-block;
    position: relative;
    
    &:last-child {
        a {
            cursor: default;
            color: #ff495b;
        }
        
        &::before,
        &::after {
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: white;
            
        }
    }

    &:not(:last-child):hover {
        &::before,
        &::after {
            background: darken(black, 10%);
        }
    }
}

.breadcrumb-level a {
    display: inline-block;
    position: relative;
    line-height: 2.5;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.tag {
    background-color: #ff495b;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.rating i{
    color:rgb(207, 141, 18);
}

.highlighted {
    color: #ff495b;
}

.carousel-img__container {
    /* border:1px solid red; */
    height:300px !important;
    width: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container__course {
    height: 100%;
    width: 100%;
    /* border:1px solid red; */
    box-sizing: border-box;
}

.img-container__course img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.carousel-container {
    /* border:1px solid green; */
    padding:5px;
    height: 300px;
}

.custom-carousel {
    /* border:1px solid red; */
    height: 300px;
}

.colored-button {
    display: flex;
    justify-content: space-between;
}

.colored-button .MuiButton-contained {
    background-color: var(--primary-color);
    color:white !important
}

.colored-button .MuiButtonBase-root {
    color: var(--primary-color)
}

.cart-list {
    max-height: 450px;
    overflow-y: scroll;
    /* border:1px solid red; */
}


.reviews-list {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    gap:10px
}

.reviews-list .review-control {
    display: flex;
    justify-content: end;
    gap:10px;
}

.review-tab {
    border: 2px solid gray;
    border-radius: 10px;
    padding:20px;
}

.rating-control {
    /* border:1px solid red; */
    font-size: 26px;
}