.profile-container {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 100px;
    padding: 0px 100px;
    gap:15px;
}

.profile-container * {
    box-sizing: border-box;
}

.profile-container .main {
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding:20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.main .personal-info {
    width: 100%;
    height: fit-content;
    /* border:1px solid red; */
}

.profile-container .side {
    /* border:1px solid red; */
    height: 800px;
    display: flex;
    flex-direction: column;
    gap:15px
}

.side .profile-info {
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding:20px;
}

.profile-info .profile-title {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    /* font-weight: 600; */
}

.side .profile-navigation {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 14px;
}

.profile-navigation .profile-nav__item {
    height: 60px;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.profile-navigation .profile-nav__item:hover {
    transition: .5s ease;
    background-color: var(--primary-color);
    color:white;
}

.profile-navigation .active {
    background-color: var(--primary-color);
    color:white;
}

.personal-info .prime-container {
    /* border:1px solid red; */
    padding: 10px 0px;
    height: 100%;
}

.prime-container .general-info {
    height: fit-content;
    display: grid;
    grid-template-columns: 20% 80%;
    /* gap:10px; */
}

.general-info .image-container {
    height: 190px;
    width: 190px;
    border-radius: 5px;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

.prime-container .textfield-group, .prime-container .MuiStack-root {
    width: 100%;
    /* border:1px solid red; */
    display: flex;
    align-items: end;
    gap:10px;
}

.MuiStack-root .MuiFormControl-root {
    width: 100%;
}

.Mui-focused fieldset {
    border-color: var(--primary-color) !important;
}

.MuiFormLabel-root.Mui-focused {
    color: var(--primary-color) !important;
}

.text-field {
    width: 100% !important;
}

.personal-info .main-with-side {
    display: grid;
    grid-template-columns: 80% 20%;
    /* border: 1px solid red; */
    min-height: 500px;
    padding: 20px;
    padding-left: 0px;
    gap:20px;
}

.main-with-side .cart-container {
    /* border: 1px solid red; */
}

.main-with-side .side-container {
    /* border:1px solid red; */
    display: grid;
    grid-template-rows: 40% 50% 10%;
}

.cart-container .headers {
    display: grid;
    grid-template-columns: 5% 75% 10% 10%;
}

.cart-item .checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-container .cart-item {
    display: grid;
    grid-template-columns: 5% 75% 10% 10%;
    height: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.cart-item .item-info {
    display: grid;
    grid-template-columns: 25% 75%;
}

.item-info .item-img__container {
    /* border:1px solid red; */
    height: 120px;
    border-radius: 10px;
}

.item-img__container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.subtotal-container .cart-total__container-row {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 12px;
}

.side-container .MuiButton-contained {
    background-color: var(--primary-color) !important;
}