* {
    font-family: "Kanit", sans-serif;
}

body {
    width: 100vw;
    display: block;
    overflow-x: hidden;
}

.remove-a-style a{
    color:black;
    text-decoration: none;
}

.radi {
    padding:5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.hero-background-custom {
    width: 100vw;
    height:300px;

    background-color: black;
    top:0;
    left:0;
    position: absolute;
    z-index: 10;
    opacity: 1;

/* 
    background: linear-gradient(300deg,#355C7D, #355C7D ,#C56CB6,#FF7582);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite; */
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    padding: 10rem 20%;
    transform: scale(1);
    transform-origin: top left;
}

.hero-section {
    height: 1100px;
    display: flex;
    flex-direction: column;
}

.main-hero {
    /* border:1px solid green; */
    width: 100%;
    height: 80%;
    /* margin-top:65px; */

    display: flex;
    justify-content: center;
}

.main-container-row {
    /* border:1px solid rgb(208, 208, 208); */
    height: 100%;
    width: 1090px;

    display: flex;
    flex-direction: row;
    /* padding-top: 65px; */
}

.main-container-row button {
    background-color: rgb(24, 24, 24, .8);
    color: white;
    font-weight: 400;
    margin-bottom: 50px;

    position: relative;
    z-index:11;
    transition: 1s;
}

.main-container-row button:hover {
    /* width: 475px; */
    text-align: start;
    transition: 1s;
}

.main-container-row button:hover .readmore {
    color:rgb(170, 170, 170);
    transition: .5s;
}

.left-col {
    width: 55%;
}

.left-col .description {
    font-size: 22px;
    font-weight: 300;
}

.main-container-row .tagline {
    position: relative;
    z-index: 11;
    font-weight: 600;
    font-size: 96px;
    line-height: 108%;

    color: rgb(24, 24, 24, 1);
    mix-blend-mode: color-burn;
}

.main-container-row .phone-container {
    height:500px;
    width: 300px;
    background-color: white;
    border-radius: 30px;
    /* border: 1px solid red; */
    margin-left: 120px;
    margin-top: 120px;
    position: absolute;
    z-index:12;
    background-color: white;
    /* background: radial-gradient(circle, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0.2) 110%), white; */
    box-shadow: inset 0 -2em 2em rgb(0, 0, 0, .1), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-container-row .box-container {
    height:500px;
    width: 750px;
    background-color: white;
    border-radius: 10px;
    /* border: 1px solid red; */
    margin-left: 230px;
    margin-top: 20px;
    position: absolute;
    z-index: 11;
    background-color: rgba(2230, 230, 230, .5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* PARTNERTS */

.partners {
    position: relative;
    height: 30%;
    width: 100%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
}

.inner-container {
    width: 1090px;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners .partner-container {
    /* border: 1px solid red; */
    height: 200px;
    width: 200px;
}

.partner-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    transition: .5s;
}

.partner-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
}

/* TESTIMONIALS */


.testimonials-section {
    /* border: 1px solid red; */
    height: 100vh;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
}

.testimonials-section .title {
    position: absolute;
    font-size: 28px;
    text-align: center;
    width: 1090px;
}

.main-testimonials {
    /* border:1px solid red; */
    margin-top:150px;
    width: 800px;
    height: 70%;

    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:0px;

    align-items: center;
}

.testi-card {
    /* border: 1px solid red; */
    height: 240px;
    width: 240px;

    background-color: white;
    display: flex;
    flex-direction: column;

    padding: 10px;
    gap:10px;
    transition: .5s;
}

.testi-card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
}

.testi-card .card-img{
    background-color: rgb(205, 205, 205);
    width: 100%;
    height: 60%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.testi-card .card-body{
    /* border:1px solid red; */
    width: 100%;
    height: 30%;
}

.testi-card .card-tags{
    /* border:1px solid red; */
    width: 100%;
    height: 10%;
}

/* CATEGORIES */

.categories-section {
    height: 95vh;
    display: flex;
    justify-content: center;
}

.category-container {
    border: 1px solid red;
    height: 100%;
    width: 1390px;
    padding:10px;

    display: flex;
    flex-direction: row;

}

.category-container .main {
    /* border: 1px solid blue; */
    flex-grow: 3;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:10px;
}

.category-container .sub {
    /* border: 1px solid green; */
    flex-grow: 2;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-direction: column;
}

.main .main-category {
    border: 1px solid blue;
    height: 680px;
    width: 100%;
}

.sub .sub-category {
    border: 1px solid green;
    height: 333px;
    width: 100%;
}